* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    color: #fff;
    background-color: #19161B;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.orange {
    color: #FFB577;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    position: relative;
}

.orange:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 1rem;
}

h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 2rem;
}

h4 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 1.25rem;
}

.text {
    font-weight: 400;
    color: #B8B8B8;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    max-width: 10.25rem;
    background-color: #FFB577;
    color: #2E2D33;
}

.btn-img {
    padding-left: 0.5rem;
    vertical-align: middle;
}

.bem-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bem-header {
    flex: 0 1 52%;
}

.bem-text {
    flex: 0 1 43%;
}

/* header menu */
header{
    margin: 1.875rem 0 7.75rem 0;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header__nav>a:not(:last-child) {
    margin-right: 2.5rem;
}

/* intro */
.intro__info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.intro {
    margin-bottom: 10rem;
}

.item {
    flex-direction: column;
}

.item:not(:last-child) {
    margin-bottom: 1rem;
}

._column {
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 49%;
}

.intro__info h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.intro__info-items {
margin-top: 1.25rem;
}
.intro__info-text{
    margin-bottom: 1.25rem;
}
.intro__info-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__info-header {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.25rem;
}

/*know-more*/
.know-more__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.know-more__item:first-child {
    margin-right: 7%;
    flex: 0 1 49%;
    position: relative;
}

.know-more__item:not(:first-child) {
    position: relative;
    flex: 0 1 19%;
    background-color: #fff;
}

.know-more__info-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.know-more__info {
    flex: 0 1 30%;
}

.know-more_text {
    margin: 2rem 0 2.745rem 0;
}

.know-more__number-header {
    display: flex;
    align-items: baseline;
}

.know-more__number {
    font-weight: 500;
    font-size: 1.5rem;
    color: #C4E4EA;
    padding-left: 0.5rem;
}

.know-more__number-text {
    margin-top: 1rem;
}

.absolute1 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.absolute2 {
    position: absolute;
    right: 0;
    bottom: 5.1875rem;
}

.know-more__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* we eat*/
.we-eat {
    margin: 10rem 0;
}



.we-eat__items {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.16);
    margin-top: 4.0625rem;
}



.we-eat__item {
    flex: 0 1 33.333%;
    padding: 4rem;
}

.we-eat__item:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.06);
}

.we-eat__img {
    width: 48px;
    height: 48px;
    margin-bottom: 1.5rem;
}

.we-eat-text {
    margin-top: 0.75rem;
}

/*menu*/
.menu-container {
    margin-bottom: 10rem;
}

.menu__header {
    flex: 0 1 36%;
}

.menu_text {
    flex: 0 1 45%;
    padding-right: 4rem;
}

h5 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 0.875rem;
    margin: 2rem 0 3.125rem 0;
}

.menu__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.menu__card {
    flex: 0 1 32%;
    margin-top: 2rem;
}

.menu__card-text {
    display: flex;
    justify-content: space-around;
    background-color: #1F1D21;
    padding: 1.5rem 0 1.125rem 0;
}

.menu__card-price {
    font-size: 1.25rem;
    font-weight: 500;
}

.menu__card img {
    display: block;
    width: 100%;
    height: auto;
}

.menu-btn {
    margin: 0 auto;
}

/*quote*/
.quote {
    margin-bottom: 10rem;
    background-color: #1F1D21;
}

.quote__container {
    margin: 0 3rem 0 0;
}

.quote__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.quote__inner-item {
    flex: 0 1 59%;
}

.quote__inner-video{
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.quote__inner-item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex: 0 1 41%;
    padding: 1rem 4.875rem 1rem 10rem;
    
}

.quote-img {
    display: block;
    width: 35px;
    height: 35px;
}

.quote__text {
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 2rem;
    opacity: 0.87;
    margin: 2.6875rem 0 4.25rem 0;
}

.andro {
    font-weight: 500;
    opacity: 0.87;
}

.adress {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 133%;
    opacity: .6;
    margin-top: 0.25rem;
    padding-bottom: 1.375rem;
}

.quote__review {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    position: relative;
}

.quote__review:after {
    content: "";
    display: block;
    width: 3.125rem;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*blog*/
.blog__inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.blog__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 32%;
    background-color: #1F1D21;
}

.blog__item-wrapper {
    padding: 2rem;
}

.blog__item-date {
    font-size: 0.875rem;
    color: #B8B8B8;
    margin-bottom: 0.5rem;
}

.blog__item-text {
    margin-top: 1rem;
}
.blog__item-img{
    display: flex;
    align-items: flex-end;
}
.blog__item-img img {
    display: block;
    width: 100%;
    height: auto;
}

/*contacts*/
.contacts {
    margin: 10rem 0;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 34%;
    background-color: #1F1D21;
}

.contacts__item-text {
    margin-top: 0.5rem;
}

.contacts__item:not(:last-child) {
    margin-bottom: 2rem;
}

.contact__map {
    flex: 0 1 66%;
}

.contact__map img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*navigation*/
.navigation {
    margin-bottom: 2rem;
}

.navigation__container {
    width: 100%;
    max-width: 35.1875rem;
    margin: 0 auto;
}

.navigation__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.8125rem;
}

.navigation__img img {
    display: block;
    margin: 0 auto;
}

/*footer*/
.footer {
    padding: 1.5rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
}

.social-img {
    width: 14.44px;
    height: 14.44px;
}

.social-img:not(:last-child) {
    margin-right: 1.5625rem;
}





@media (max-width: 1150px){

    /*know-more*/
    .absolute1, .absolute2{
        display: none;
    }

    .know-more__item:first-child{
        flex: 0 1 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
    .know-more__number-header {
        justify-content: center;
    }
    .know-more__item>.btn{
        margin: 0 auto;
    }

    /*quote*/
    .quote__inner-item{
        flex: 0 1 100%;
    }

    .quote__container{
        margin: 0 3rem;
    }

    .quote__inner-item:first-child{
        flex: 0 1 100%;
        margin-bottom: 3rem;
        padding: 3rem;
    }
}

@media (max-width: 900px){
    /*intro*/
    .intro__info {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    ._column {
        flex: 0 1 90%;
        text-align: center;
    }
   
    ._column:last-child{
        margin-top: 1.5rem;
    }

    .intro__info-img{
        max-width: 100%;
    }
      
    /*we-eat*/
    .bem-container {
       text-align: center; 
    }
    .bem-header {
        flex: 0 1 100%;
    }
    .bem-text {
        flex: 0 1 100%;
        margin-top: 1.5rem;
    }

    .we-eat__item {
            flex: 0 1 50%;
            text-align: center;
        }

        /*menu*/
    .menu_text {
        padding-right: 0;
    }
    
    h5{
       text-align: center;
    }
    .menu__card {
        flex: 0 1 48%;
    }
}

@media (max-width: 768px){
    /*we-eat*/

    .we-eat__item {
        flex: 0 1 90%;
        padding: 2rem;
    }
    
    /*menu*/
    .menu__card {
        flex: 0 1 100%;
    }

    /*blog*/
    .blog__item{
        flex: 0 1 100%;
    }

    .blog__item:not(:last-child){
        margin-bottom: 6rem;
    }

    /*contacts*/
    .contacts__items{
        flex: 0 1 100%;
        text-align: center;
        padding: 3rem 0;
    }

    .contacts__item>h4{
        font-size: 2.25rem;
    }

    .contacts__item-text{
        font-size: 1.5rem;
    }

    .contact__map{
        flex: 0 1 100%;
    }

    /*navigation*/
    .navigation__inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*footer*/
    .footer__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__item:not(:last-child){
        margin-bottom: 1.5rem;
    }

@media (max-width: 480px){
    
    /*intro*/
    ._column:last-child{
        display: none;
    }
      /*know-more*/
    .know-more__info {
        flex: 0 1 100%;
    }
    .know-more__info:not(:last-child){
        margin-bottom: 2rem;

    }
    .know-more__info-container{
        flex-wrap: wrap;
    } 
      /*quote*/
      .quote__text{
        font-size: 1.5rem;
      }  

      .quote__inner-item:first-child{
        padding: 0;
      }
}


@media (max-width: 320px){
    

    /*contacts*/

    .contact__map{
        display: none;
    }
    
}