* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


$roboto: 'Roboto', sans-serif;
$w-500: 500;
$white: #FFFFFF;

%img {
    width: 100%;
    height: 100%;
    display: block;
}

%grid {
    display: grid;
    justify-items: center;
}

%font {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #EEEEEE;
}

a{
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0336FF;
    border-radius: .5rem;
} 

.heading{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 3.25rem;
}
.posts{
        background-color: $white;
        padding: 2rem 0;
        text-align: center;
        margin-bottom: 2.25rem;
    }

 .btn-small{
        font-weight: $w-500;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: $white;
        min-width: 11.375rem;
        min-height: 4.4375rem;
    }

.item{
    flex: 0 1 49%;
}

body{
    background-color: #EDEDED;
    color: #000000;
    font-family: 'Lato', sans-serif;
}

.header__container{
        width: 100%;  
        height: 50vh;
        background-image: url(./red_img/header_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        display: flex;
        flex-direction: column;
        align-items: center;

    .logo{
        max-width: 8.3125rem;
        max-height: 3.5rem;

        & img{
            @extend %img;
        }
    }


    a{
        font-family: $roboto;
        font-weight: $w-500;
        font-size: 1rem;
        line-height: 0.875rem;
        color: #FFA500;
    }

    &-info{
        text-align: center; 
    }

    &-nav{
        width: clamp(56rem, 60%, 77rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin:1rem 0 3.625rem 0;

        & ul{
            list-style: none;
        }
    }

    &-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: clamp(26rem, 60%, 46rem);
    }

    &-counter{
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: $white;

        & span{
            color: #FFA500;
        }
    }

    h1{
        font-weight: 800;
        font-size: 4rem;
        color: $white;
        margin: 0.875rem 0 1.6875rem 0;
    }

    &-read{
        font-weight: $w-500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $white;
        min-width: 13.625rem;
        min-height: 5.3125rem;
        margin: 0 auto;
    }

    &-scroll{
        font-family: $roboto;
        font-weight: $w-500;
        font-size: 1.5rem;
        line-height: 2.9375rem;
        color: $white;
        margin: 1.875rem 0 0 0;
    }
}


main{
    @extend %grid;
    max-width: 83.875rem;
    width: 100%;
    grid-template: 10fr / 2fr 4fr;
    grid-column-gap: 4.75rem;
    margin-top: 6.25rem;
    padding: 0 1rem;
    margin: 6.25rem auto 0 auto;
}

.side__about{
    padding: 3px 37px 21px 37px;
    background-color: $white;
    margin-bottom: 2.6875rem;
    @extend %grid;
   

    & img{
        @extend %img;
    }

    &-text{
        font-size: 1rem;
        font-weight: $w-500;
        line-height: 1.25rem;
        margin: 0.5625rem 0 1rem 0;
    } 
}

.side__categories{
    background-color: $white;
    padding: 1rem 2rem 4.5rem 2.75rem;
    margin-bottom: 2.5rem;

    &-heading{
        text-align: center;
        margin-bottom: 4.3125rem;
    }
    &-list{
        display: flex;
        justify-content: space-between;
        font-weight: $w-500;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    &-list:not(:last-child){
        margin-bottom: 1.125rem;
    }
}

.side__popular{
    margin-bottom: 2.875rem;

    &-card{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-card::after{
        content: "";
        display: block;
        background-color: rgba(17, 14, 194, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
        z-index: 5;
        
    }

    &-info{
       position: absolute; 
       z-index: 6;
       color: $white;
       width: 85%;
       margin-top: 2rem;

       & p:first-child{
        font-weight: $w-500;
        font-size: 1.5rem;
        line-height: 2.125rem;
       }

       & p:nth-child(2){
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.875rem;
        margin: 5.1875rem 0 2.375rem 0;
       }

       & .arrows{
        & img:first-child{
            margin-right: 1.25rem;
        }
       }
    }
}

.side__recent{
    margin-bottom: 4.57rem;

    &-post{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &-post:not(:last-child){
        margin-bottom: 2.6875rem;
    }
    &-info{
        margin-left: 0.875rem;

        & p:first-child{
            font-weight: $w-500;
            font-size: 1.125rem;
            margin-bottom: 7px;
        }

        & p:last-child{
            font-weight: 600;
            font-size: 1.5rem;
        }
    }
}

.side__use{
    text-align: center;
    padding: 1rem 3.125rem 1rem 3.125rem;
    background-color: $white;
    @extend %grid;
    margin-bottom: 4.625rem;

    &-heading:first-child{
        margin-bottom: 2.32rem;
    }

    & p{
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2.125rem;
        margin: 1.625rem 0 1rem 0;
    }
}

.side__products{
    margin-bottom: 3.875rem;

    &-post{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 1.5rem;

        & p:last-child{
            color: #0336FF;
            margin-top: 1rem;
        }
    }

    &-post:not(:last-child){
        margin-bottom: 2.25rem;
    }

    &-info{
        margin-left: 0.875rem;
    }
}

.side__touch{
    & .wrapper{
        @extend %grid;
    }

    &-links{
        @extend %grid;
        grid-template: repeat(2, 0.5fr) / repeat(2, 0.4fr);
        align-items: center;
        grid-gap: 1.7rem;
    }
}

/*main*/

.main__card{
    margin-bottom: 3.5rem;

    & img{
        @extend %img;
    }

    &-info{
        padding: 0 4.5rem 1.8125rem 1.5rem;
        font-weight: $w-500;
        background-color: $white;
    
    }
    &-date{
        font-size: 1.125rem;
        line-height: 2.125rem;
        margin-bottom: 1rem;
     }

    &-heading{
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.875rem;
     }

    &-text{
        font-size: 1.5rem;
        line-height: 4rem;
    }

    &-comment{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 1.125rem;
        line-height: 2.5rem;
        margin-top: 0.5625rem;

        & span{
            color: #000000;
        }

        & i{
            color: #FFA500;
            margin-right: 0.75rem;
        }
    }
}

.main__cards{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.main__image{
    position: relative;
    margin-bottom: 2.5625rem;

    &-background{
        @extend %img;
    }

    &-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        & p{
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 2.875rem;
            color: $white;
            margin-left: 2rem;
            position: absolute;
            top: 0.75rem;
        }

        & span{
            color: #FFA500;
            text-decoration: underline;
        }

        & a{
            position: absolute;
            bottom: 3.25rem;
        }
    }
}

.gallery{
    width: 100%;
    display: flex;
    justify-content: stretch;
    position: relative;
    margin-bottom: 8rem;

    &__item{
        width: 16.25rem;
        max-height: 18.5rem;

        & img{
            @extend %img;
        }
    }

    & a{
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    & p{
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2rem;

        & span{
            color: #0336FF;
        }
    }

    & form{
        display: flex;
        padding-bottom: 7.5rem;

        & input{
            width: 20.625rem;
            height: 4.875rem;
            font-weight: 400;
            font-size: 1.25rem;
            background-color: $white;
            padding: 1.25rem;
            color: #C4C4C4;
            border-radius: 0.5rem;
        }  

        & input:focus{
            color: #000000;
        }
        
        & button{
            font-size: 1.25rem;
            margin-left: 2rem;
        }
    }
}



.footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6757);
   

    &-nav{
        
       
        &__items{
            display: grid;
            grid-template: 5fr / repeat(4, 2fr);
            grid-column-gap: 3.125rem
        }

        &__item{
            & a:not(:last-child){
                margin-bottom: 1.375rem;
            }

            & p:not(:last-child){
                margin-bottom: 1.375rem;
            }
        }

        &__white{
            align-items: center;
            background-color: #EDEDED;
            padding: 3.25rem 13rem 1rem 13rem;
            border-top: 2px solid #C4C4C4;

            a{
                font-family: $roboto;
                font-weight: 700;
                color: #000000;
                line-height: 1.125rem;
            }
        }

        &__gray{
            font-family: $roboto;
            @extend %font;  
            padding-bottom: 8.75rem;
            border-bottom: 1px solid #EEEEEE;
            padding: 2.5rem 13rem 8.75rem 13rem;

            & a{
            display: block;
            font-family: $roboto;
            @extend %font; 
            }
        }
}

&__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem 0 6rem 0;
}
    &__item{
        margin-right: 5rem;
    }

    i{
        color: #EEEEEE;
    }

    i:not(:last-child){
        margin-right: 1rem;
    }

    &__rights{
        @extend %font;
        font-family: $roboto;
    }
}